#priceModule .uk-card-header {
  font-size: 1.5rem !important;
  font-weight: 200;
  color: #000;
  border-style: none;
}

#priceModule h3 {
  font-size: 1.275rem;
}

.service-cost {
  font-size: 1.75rem;
  font-weight: 100;
}

.service-cost span {
  font-size: 3.5rem;
  font-weight: 200;
  color: #333;
}

.rates-content i {
  color: #f8981c;
  margin-top: 24px !important;
}
