.portfolio-list small {
  font-size: 10px;
  color: #d6d6d6;
  padding: 0 !important;
}

.portfolio-items .uk-card-media-top img {
  border-radius: 2px;
}

.portfolio-header {
  text-align: left;
}

@media (min-width: 640px) {
  .portfolio-header {
    text-align: center;
  }
}

.portfolio-detail h5 {
  font-family: "Maven Pro", "Helvetica", "Arial", sans-serif !important;
  font-weight: 500 !important;
  margin-top: 32px !important;
  margin-bottom: 16px !important;
}

.portfolio-detail .uk-label {
  font-size: 9px;
  background-color: #f8f8f8 !important;
  color: #90a4ae !important;
}

.portfolio-detail h5:first-child {
  padding-top: 0 !important;
}

.contentEmbed {
  margin-top: 0 !important;
  border-style: none !important;
}
