.skills-section {
  /* base */
}

.skills-tabs a {
  font-size: 0.75rem;
  font-weight: 400;
}

.skills-tabs .uk-tab::before {
  border-style: none !important;
}

.skills-tabs .uk-active a {
  color: #888;
  border-width: 2px;
  border-color: #f8981c !important;
}

.skills-tabs {
  margin: 32px auto;
}

.skills-content img {
  object-fit: cover !important;
  width: 100%;
}

.skills-content {
  box-shadow: 0 30px 40px -20px rgba(0, 0, 0, 0.05);
}

.skills-content ul {
  padding: 0 !important;
  background-color: transparent;
  line-height: 1em;
}

.skills-content ul li {
  padding: 8px 0;
  font-size: 0.879em;
}

.skills-content ul li + li {
  /* margin-top: 15px !important; */
}

.skills-content ul li:hover {
  background-color: #f8f8f8;
}

.skills-content ul li small {
  color: #999;
}

.skills-content .uk-card,
.skills-content .uk-card-header {
  border-radius: 4px 4px 0 0 !important;
}

.skills-content .uk-card-header {
  /* background-color: #b0bec5; */
}

.skills-content .uk-card-header p {
  color: #37474f;
  font-family: "Bitter", serif;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}

.skills-content .case-study-list a {
  display: block;
  text-decoration: none;
  color: #666;
}

.skills-section h4 {
  font-family: 'Open Sans', "Helvetica", "Arial", sans-serif !important;
  margin-bottom: 14px !important;
}

.skills-section h5 {
  font-family: 'Open Sans', "Helvetica", "Arial", sans-serif !important;
  color: #6c6c6c !important;
  margin: 0 auto 12px !important;
  font-weight: 400 !important;
}

.skills-section .uk-text-lead {
  font-weight: 300;
}

.skills-case-study-buttons a {
  margin-right: 16px !important;
}

.skills-content li {
  font-family: 'Open Sans', "Helvetica", "Arial", sans-serif !important;
  color: #6c6c6c !important;
  margin: 0 auto 6px !important;
}

.mobile-skills-content img {
  /* border-radius: 3px; */
}

.mobile-skills-content-box {
  position: relative;
  background-color: rgb(255, 255, 255, 1);
  margin: -64px 12px 40px !important;
  padding: 12px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}

.case-study-link {
  font-size: 0.75rem;
  color: #999;
}
