.skills-tabs .uk-tab::before {
  border-style: none !important;
}

.skills-section img {
  object-fit: cover !important;
  width: 100%;
}

.skills-tabs .uk-active a {
  color: #888;
  border-width: 2px;
  border-color: #f8981c !important;
}

.skills-content ul {
  padding: 0 !important;
  background-color: transparent;
  line-height: 1em;
}

.skills-content ul li {
  padding: 8px 0;
  font-size: 0.879em;
}

.skills-content ul li + li {
  /* margin-top: 15px !important; */
}

.skills-content ul li:hover {
  background-color: #f8f8f8;
}

.skills-content ul li small {
  color: #999;
}

.skills-content .uk-card,
.skills-content .uk-card-header {
  border-radius: 4px 4px 0 0 !important;
}

.skills-content .uk-card-header {
  /* background-color: #b0bec5; */
}

.skills-content .uk-card-header p {
  color: #37474f;
  font-family: "Bitter", serif;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}

.skills-content .case-study-list a {
  display: block;
  text-decoration: none;
  color: #666;
}

/* .skills-content .uk-label {
  padding: auto;
  background-color: #bbdefb;
  font-family: "Bitter", serif;
}

.skills-content .uk-label:hover {
  background-color: #49839a;
  color: #bbdefb !important;
}

.skills-content .uk-label a {
  padding: 20px 10px !important;
  color: #49839a;
  text-transform: uppercase;
  text-decoration: none;
}

.skills-content .uk-label a:hover {
  color: #bbdefb;
} */

@media (max-width: 640px) {

  /* .skills-section .uk-card-body {
    padding-left: 0;
    padding-right: 0;
  } */

  .skills-section h4 {
    font-size: 1.125rem;
    margin-bottom: 14px !important;
    font-weight: 800 !important;
  }

  .skills-section h5 {
    font-size: 1rem;
    font-family: "Bitter", Georgia, "Garamond", "Times New Roman", serif !important;
    font-weight: 400 !important;
    color: #6c6c6c !important;
    margin: 0 auto 12px !important;
  }

  .skills-section li {
    font-size: 1rem;
    margin-top: 0;
    line-height: 1.25em;
    margin-bottom: 6px !important;
  }

  .skills-section li a {
    padding-left: 2px !important;
    padding-right: 2px !important;
  }
}

.skills-section h4 {
  font-family: 'Roboto', "Helvetica", "Arial", sans-serif !important;
  margin-bottom: 14px !important;
  font-weight: 800 !important;
}

.skills-section h5 {
  font-family: 'Roboto', "Helvetica", "Arial", sans-serif !important;
  color: #6c6c6c !important;
  margin: 0 auto 12px !important;
  font-weight: 400 !important;
}

.skills-section li {
  font-family: 'Roboto', "Helvetica", "Arial", sans-serif !important;
  color: #6c6c6c !important;
  margin: 0 auto 6px !important;
}

@media (min-width: 640px) {
  .skills-section-intro {
    text-align: center;
  }

  .skills-section-intro p {
    margin-left: 100px;
    margin-right: 100px;
  }

  .skills-section h4 {
    font-size: 1.5rem;
  }

  .skills-section h5 {
    font-size: 1.25rem;
  }

  .skills-section li {
    font-size: 1.25rem;
  }
}

@media (min-width: 768px) {
  .skills-section h4 {
    font-size: 1.35rem;
  }

  .skills-section h5 {
    font-size: 1.125rem;
  }

  .skills-section li {
    font-size: 1rem;
  }
}

@media (min-width: 960px) {
  .skills-section h4 {
    font-size: 1.5rem;
  }

  .skills-section h5 {
    font-size: 1.275rem;
  }

  .skills-section li {
    font-size: 1.25rem;
  }
}
