.top-wrap-height {
  height: 80vh !important;
  min-height: 460px;
  transition: height 0.25s;
}

.about-section h1 {
  font-size: 1.65rem;
}

.about-section p.uk-text-lead {
  font-size: 1.25rem;
  font-weight: 400 !important;
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif !important;
  color: #666;
}

.about-section button {
  margin-top: 24px !important;
}

.about-profile-header {
  width: 100%;
}

img.bio-image {
  min-width: 100vw;
  height: 100% !important;
  object-fit: cover !important;
}

.about-profile-content p {
  padding-left: 48px !important;
  padding-right: 48px !important;
}

@media (min-width: 640px) {
  .about-profile-content p {
    padding-left: 160px !important;
    padding-right: 160px !important;
  }
}

section.modal-bio {
  border-style: none;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
