.about-section h1 {
  font-size: 1.65rem;
}

.about-section p.uk-text-lead {
  font-size: 1.25rem;
  font-weight: 400 !important;
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif !important;
  color: #666;
}

.about-section button {
  margin-top: 24px !important;
}

.about-profile-header {
  width: 100%;
}

.about-profile-header img {
  object-fit: cover;
}

.about-profile-content p {
  padding-left: 48px !important;
  padding-right: 48px !important;
}

@media (min-width: 640px) {
  .about-profile-content p {
    padding-left: 160px !important;
    padding-right: 160px !important;
  }
}
