header {

}

.uk-slideshow-items {
  min-height: 600px !important;
  height: 600px !important;
}

p.case-study-label {
  font-weight: 400 !important;
  font-family: 'Maven Pro', "Helvetica", "Arial", sans-serif !important;
  text-transform: uppercase;
  color: #fff !important;
}

p.uk-text-lead {
  font-size: 1.487rem;
}

.case-study-header-title {
  font-size: 2rem;
  font-weight: 600 !important;
  color: #fff;
}

uk-button.pink {
  color: pink
}

@media (max-width: 640px) {

  p.case-study-label {
    font-weight: 400 !important;
    text-transform: uppercase;
    color: #fff !important;
    font-size: 7px;
  }

  .uk-slideshow-items {
    min-height: 200px !important;
    height: 200px !important;
  }

  .case-study-header-title {
    font-size: 12px;
    font-weight: 600 !important;
    margin: 0 !important;
    padding: 0 !important;
    color: #fff;
  }

  .uk-button-small {
    font-size: 9px;
    line-height: 9px !important;
    margin: 5px auto !important;
    padding: 5px !important;
  }

}
