html,
body {
  /* overscroll-behavior-y: contain; */
  /* background-color: #ede7f6 !important; */
  /* margin: 0; */
  /* padding: 0;
  height: 100%;
  width: 100%;
  user-select: none; */
  /* font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif; */
  /* position: fixed;
  overflow: hidden; */
}

body {
  margin: 0;
  position: relative;
}

/* main {
  padding-bottom: 45px;
}

@media (min-width: 640px) {
  main {
    padding-bottom: 0;
  }
} */

h1,
h3 {
  font-weight: 400 !important;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
}

p,
h4,
h5,
li {
  font-weight: 300;
  font-family: "Bitter", Georgia, "Garamond", "Times New Roman", serif;
}

h2 {
  font-size: 1.5rem;
  font-family: "Bitter", Georgia, "Garamond", "Times New Roman", serif;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  font-weight: 400 !important;
}

header h2 {
  font-family: "Maven Pro", "Helvetica", "Arial", sans-serif !important;
  font-weight: 500 !important;
}

h2.content-title {
  font-weight: 600 !important;
  text-align: left;
}

.content-lead {
  font-size: 1.125rem !important;
  color: #6c6c6c;
  text-align: left;
}

@media (min-width: 640px) {
  h2.content-title {
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
  }

  .content-lead {
    text-align: center;
  }
}

.uk-article-meta {
  font-size: 10px;
}

h3.uk-card-title {
  font-weight: 400 !important;
}

h6 {
  font-size: 0.879rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  font-weight: 400 !important;
}

.header-lead {
  font-size: 1.25rem !important;
  font-weight: 400;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
}

@media (min-width: 640px) {
  h2 {
    font-size: 1.55rem !important;
  }

  .header-lead {
    font-size: 1.35rem !important;
  }
}

@media (min-width: 960px) {
  h2 {
    font-size: 1.75rem !important;
  }

  .header-lead {
    font-size: 1.5rem !important;
  }
}

h5 {
  margin-bottom: 0 !important;
  padding-bottom: 6px !important;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
  font-weight: 600 !important;
}

.uk-breadcrumb li a,
.uk-breadcrumb li span {
  font-size: 11px !important;
  font-family: "Maven Pro", "Helvetica", "Arial", sans-serif !important;
}

.uk-breadcrumb li span {
  font-weight: 600;
}

.uk-breadcrumb > :nth-child(n+2):not(.uk-first-column)::before {
  content: "/";
  display: inline-block;
  margin: 0 8px;
  color: #aaa;
}

h3.uk-section-title {
  font-size: 1.35rem;
  margin: 50px auto 35px !important;
  font-weight: 400 !important;
}

.uk-background-primary {
  background-color: #49839a !important;
}

.uk-background-secondary {
  background-color: #37474f !important;
}

/* START UK-MARGIN */
@media (min-width: 640px) {
  .uk-margin-remove-left\@s {
    margin-left: 0 !important;
  }

  .uk-margin-remove-right\@s {
    margin-right: 0 !important;
  }

  .uk-margin-right\@s {
    margin-right: 20px !important;
  }

  .uk-margin-left\@s {
    margin-left: 20px !important;
  }

  .uk-margin-small-top\@s {
    margin-top: 10px !important;
  }

  .uk-margin-small-bottom\@s {
    margin-bottom: 10px !important;
  }

  .uk-margin-small-right\@s {
    margin-right: 10px !important;
  }

  .uk-margin-small-left\@s {
    margin-left: 10px !important;
  }

  .uk-margin-medium-top\@s {
    margin-top: 40px !important;
  }

  .uk-margin-medium-bottom\@s {
    margin-bottom: 40px !important;
  }

  .uk-margin-medium-right\@s {
    margin-right: 40px !important;
  }

  .uk-margin-medium-left\@s {
    margin-left: 40px !important;
  }

  .uk-margin-large-top\@s {
    margin-top: 70px !important;
  }

  .uk-margin-large-bottom\@s {
    margin-bottom: 70px !important;
  }

  .uk-margin-large-left\@s {
    margin-left: 70px !important;
  }

  .uk-margin-large-right\@s {
    margin-right: 70px !important;
  }
}

@media (min-width: 960px) {
  .uk-margin-remove-left\@m {
    margin-left: 0 !important;
  }

  .uk-margin-remove-right\@m {
    margin-right: 0 !important;
  }

  .uk-margin-small-top\@m {
    margin-top: 10px !important;
  }

  .uk-margin-small-bottom\@m {
    margin-bottom: 10px !important;
  }

  .uk-margin-medium-top\@m {
    margin-top: 40px !important;
  }

  .uk-margin-medium-bottom\@m {
    margin-bottom: 40px !important;
  }

  .uk-margin-large-top\@m {
    margin-top: 70px !important;
  }

  .uk-margin-large-bottom\@m {
    margin-bottom: 70px !important;
  }

  .uk-margin-medium-left\@m {
    margin-left: 40px !important;
  }

  .uk-margin-medium-right\@m {
    margin-right: 40px !important;
  }

  .uk-margin-large-left\@m {
    margin-left: 70px !important;
  }

  .uk-margin-large-right\@m {
    margin-right: 70px !important;
  }
}

@media (min-width: 1200px) {
  .uk-margin-remove-left\@l {
    margin-left: 0 !important;
  }

  .uk-margin-remove-right\@l {
    margin-right: 0 !important;
  }

  .uk-margin-small-top\@l {
    margin-top: 10px !important;
  }

  .uk-margin-small-bottom\@l {
    margin-bottom: 10px !important;
  }

  .uk-margin-medium-top\@l {
    margin-top: 40px !important;
  }

  .uk-margin-medium-bottom\@l {
    margin-bottom: 40px !important;
  }

  .uk-margin-large-top\@l {
    margin-top: 70px !important;
  }

  .uk-margin-large-bottom\@l {
    margin-bottom: 70px !important;
  }
}

/* END UK-MARGIN */

/* START UK-PADDING */
@media (min-width: 640px) {
  .uk-padding-remove-left\@s {
    padding-left: 0 !important;
  }

  .uk-padding-remove-right\@s {
    padding-right: 0 !important;
  }

  .uk-padding-small-top\@s {
    padding-top: 10px !important;
  }

  .uk-padding-small-bottom\@s {
    padding-bottom: 10px !important;
  }

  .uk-padding-medium-top\@s {
    padding-top: 40px !important;
  }

  .uk-padding-medium-bottom\@s {
    padding-bottom: 40px !important;
  }

  .uk-padding-large-top\@s {
    padding-top: 70px !important;
  }

  .uk-padding-large-bottom\@s {
    padding-bottom: 70px !important;
  }
}

@media (min-width: 960px) {
  .uk-padding-remove-left\@m {
    padding-left: 0 !important;
  }

  .uk-padding-remove-right\@m {
    padding-right: 0 !important;
  }

  .uk-padding-small-top\@m {
    padding-top: 10px !important;
  }

  .uk-padding-small-bottom\@m {
    padding-bottom: 10px !important;
  }

  .uk-padding-medium-top\@m {
    padding-top: 40px !important;
  }

  .uk-padding-medium-bottom\@m {
    padding-bottom: 40px !important;
  }

  .uk-padding-large-top\@m {
    padding-top: 70px !important;
  }

  .uk-padding-large-bottom\@m {
    padding-bottom: 70px !important;
  }
}

@media (min-width: 1200px) {
  .uk-padding-remove-left\@l {
    padding-left: 0 !important;
  }

  .uk-padding-remove-right\@l {
    padding-right: 0 !important;
  }

  .uk-padding-small-top\@l {
    padding-top: 10px !important;
  }

  .uk-padding-small-bottom\@l {
    padding-bottom: 10px !important;
  }

  .uk-padding-medium-top\@l {
    padding-top: 40px !important;
  }

  .uk-padding-medium-bottom\@l {
    padding-bottom: 40px !important;
  }

  .uk-padding-large-top\@l {
    padding-top: 70px !important;
  }

  .uk-padding-large-bottom\@l {
    padding-bottom: 70px !important;
  }
}

/* END UK-PADDING */

.sc-only span {
  font-size: 1 !important;
  line-height: 1 !important;
  text-indent: -1px;
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  margin: -1000px;
  overflow: hidden;
  border: 0;
}

.uk-button {
  border-radius: 3px;
  font-family: "Maven Pro", "Helvetica", "Arial", sans-serif !important;
}

.uk-button-success {
  background-color: #4caf50;
  color: #fff !important;
}

.uk-button-success:hover {
  background-color: #388e3c;
  color: #eceff1 !important;
}

.card-brand {
  border-top: 3px solid #f8981c;
}

.text-background {
  line-height: 1.75em;
  padding: 2px 10px;
  color: #3c3c3c !important;
  border-radius: 3px;
  white-space: nowrap !important;
}

.text-background-red {
  background-color: #ffcdd2;
}

.text-background-orange {
  background-color: #ffe0b2;
}

.text-background-yellow {
  background-color: #fff9c4;
}

.text-background-green {
  background-color: #c8e6c9;
}

.text-background-blue {
  background-color: #bbdefb;
}

.text-background-indigo {
  background-color: #e8eaf6;
}

.text-background-violet {
  background-color: #f3e5f5;
}

section h4.uk-heading-line {
  font-size: 1.15rem;
  font-weight: 700 !important;
  font-family: "Maven Pro", sans-serif !important;
}

section h5. {
  font-size: 1rem;
  font-weight: 600 !important;
  margin: 0 auto 12px !important;
}

@media (min-width: 640px) {
  section h4.uk-heading-line {
    font-size: 1.25rem;
  }

  section h5 {
    font-size: 1.25rem;
  }
}

@media (min-width: 768px) {
  section h4.uk-heading-line {
    font-size: 1.25rem;
  }

  section h5 {
    font-size: 1rem;
  }
}

/* @media (min-width: 960px) {
  section h4.uk-heading-line {
    font-size: 1.5rem;
  }

  section h5 {
    font-size: 1.25rem;
  }
} */
