#priceModule .uk-card-header {
  font-size: 1.5rem !important;
  font-weight: 200;
  color: #000;
  border-style: none;
}

.service-cost {
  font-size: 1.75rem;
  font-weight: 300;
}

.service-cost span {
  font-size: 3.5rem;
  font-weight: 200;
}
