@import url('https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,500,700|Maven+Pro:300,400,500,700');

html {
  font-size: 16px !important;
}

@media screen and (min-width: 640px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680)) !important;
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 18px !important;
  }
}

h1,
h3 {
  font-weight: 400 !important;
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif !important;
}

p,
h4,
h5,
li {
  font-weight: 400;
  font-family: "Open Sans", "Helvetica", sans-serif;
}

h2 {
  font-size: 1.5rem;
  font-family: "Open Sans", "Helvetica", sans-serif;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  font-weight: 400 !important;
}

header h2 {
  font-family: 'Maven Pro', "Helvetica", "Arial", sans-serif !important;
  font-weight: 500 !important;
}

h2.content-title {
  font-family: "Maven Pro", "Helvetica", "Arial", sans-serif !important;
  font-weight: 500 !important;
  text-align: left;
}

.content-lead {
  font-size: 1.125rem !important;
  color: #6c6c6c;
  text-align: left;
}

@media (min-width: 640px) {
  h2.content-title {
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
  }

  .content-lead {
    text-align: center;
  }
}

.uk-article-meta {
  font-size: 10px;
}

h3.uk-card-title {
  font-weight: 400 !important;
}

h6 {
  font-size: 0.879rem;
  font-family: 'Roboto', "Helvetica", "Arial", sans-serif !important;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  font-weight: 400 !important;
}

.uk-breadcrumb li a,
.uk-breadcrumb li span {
  font-size: 11px !important;
  font-family: 'Maven Pro', "Helvetica", "Arial", sans-serif !important;
}

.uk-breadcrumb li span {
  font-weight: 600;
}

.uk-breadcrumb > :nth-child(n+2):not(.uk-first-column)::before {
  content: '/';
  display: inline-block;
  margin: 0 8px;
  color: #aaa;
}

.uk-h1,
.uk-h2,
.uk-h3,
.uk-h4 {
  font-family: 'Maven Pro', "Helvetica", "Arial", sans-serif !important;
  font-weight: 500;
}

.uk-h6 {
  font-size: 10px !important;
  text-transform: uppercase !important;
}
