.testimonials li p.uk-text-large {
  font-size: 1.2rem !important;
  margin-bottom: 1.5rem;
  font-family: "Bitter", Georgia, "Garamond", "Times New Roman", serif;
}

.testimonials li p {
  font-size: 12px;
  margin: 0;
  padding: 0;
}
